footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    padding: 0 0 0 300px;
    z-index: 1000;
}
footer .tabs {
    padding: 0;
    
}
#p-tabs{
    margin: 0;
}

#menu-fixed{
    bottom: 65px;
}

@media only screen and (max-width: 992px) {
    footer{
        padding: 0;
    }
}
