<div id="menu-fixed" class="fixed-action-btn unselectable">
  <a  class="btn-floating btn-large red">
    <i class="large material-icons">menu</i>
  </a>
  <ul>

    <li>
      <span class="z-depth-1">Obtén más puntos</span>
      <a class="btn-floating blue">
        <i class="material-icons">add</i>
      </a>
    </li>
    <li>
      <span class="z-depth-1">Comparte Buckup</span>
      <a class="btn-floating green">
        <i class="material-icons">share</i>
      </a>
    </li>
  </ul>
</div>


<footer class="page-footer">
  <!-- tabs -->
  <div id="p-tabs" class="row">
    <div id="nopadding" class="col s12">
      <ul id="p-tabsmain" class="tabs">
        <li class="tab col s4">
          <a href="#inicio">Inicio</a>
        </li>
        <li class="tab col s4">
          <a href="#puntos" >Puntos</a>
        </li>
        <li class="tab col s4">
          <a href="#negocios" class="active">Negocios</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
