<div class="col s6 card unselectable medium">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="http://lorempixel.com/400/300/food/">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">{{titled}}e</span> A 20 Metros Calificación: 4.3
    <i class="tiny material-icons yellow-text text-darken-2">star</i>
    <p>
      <a href="#">Sitio web</a>
    </p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">La Pizzería
      <i class="material-icons right">close</i>
    </span>
    <p class="small center-align">Prueba la que es para muchos la mejor pizza del sector. Variedad de sabores y los mejores precios</p>
  </div>
</div>