<div id="inicio" class="p-widecontainer">
  <!--CARD PUNTOS-->
  <div class="card-panel ">
    <span class="title-card">Tienes</span>
    <div class="big-text center-align">18000
      <span class="little-text">Puntos</span>
    </div>
    <div class="center-align">De 74000
      <i class="tiny material-icons">history</i>
    </div>
  </div>

  <!-- CARD NEGOCIOS CERCA-->
  <div class="card-panel ">
    <span class="title-card">Negocios cerca</span>

    <!-- Tabs -->

    <ul id="p-tabscategory" class="tabs tabs-fixed-width row">

      <li class="tab col s3">
        <a href="#entretenimiento">
          <i class="material-icons right medium">movie_filter</i>
        </a>
      </li>
      <li class="tab col s3">
        <a href="#comida">
          <i class="material-icons active right medium">restaurant</i>
        </a>
      </li>
      <li class="tab col s3">
        <a href="#compras">
          <i class="material-icons right medium">local_grocery_store</i>
        </a>
      </li>
      <li class="tab col s3">
        <a href="#mascotas">
          <i class="material-icons right medium">pets</i>
        </a>
      </li>
    </ul>

    

    <div id="entretenimiento" class="row">

        <app-store-card></app-store-card>
        <app-store-card titled="holahola"></app-store-card>

      </div>



    <div id="comida">
        hola comida
      </div>
      <div id="compras">
          holacompras
        </div>
    <div id="mascotas">
        hola mascotas
      </div>

  </div>



</div>