<div id="inicio" class=" col s12 p-widecontainer">
    <div class="card-panel ">
        <span class="title-card">Tienes</span>
        <div class="big-text center-align">18000
            <span class="little-text">Puntos</span>
        </div>
        <div class="center-align">De 74000
            <i class="tiny material-icons">history</i>
        </div>
    </div>

    <div class="row">
        <div class=" card">
            <div class="col s6 p-layoutpadding card-image">
                <div class="p-imageshadow ">
                    <img src="assets/img/food.jpg">
                </div>
                <span class="card-title">Restaurantes</span>
            </div>
        </div>
        <div class=" card  ">
            <div class="col s6 p-layoutpadding card-image">
                <div class=" p-imageshadow ">
                    <img src="assets/img/healthy.jpg">
                </div>
                <span class="card-title">Bienestar</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" card  ">
            <div class="col s12 p-layoutpadding card-image">
                <div class=" p-imageshadow ">
                    <img src="assets/img/family.jpg">
                </div>
                <span class="card-title">En Familia</span>
            </div>
        </div>
        </div>
        <div class="row">
        <div class=" card  ">
            <div class="col s6 p-layoutpadding card-image">
                <div class=" p-imageshadow ">
                    <img src="assets/img/entertainment.jpg">
                </div>
                <span class="card-title">Entretenimiento</span>
            </div>
        </div>
        <div class=" card  ">
            <div class="col s6 p-layoutpadding card-image">
                <div class=" p-imageshadow ">
                    <img src="assets/img/shopping.jpg">
                </div>
                <span class="card-title">Compras</span>
            </div>
        </div>

    </div>
</div>